<footer class="footerv">
   
    <!-- NUEVO FOOTER NUEVO FOOTER  -->
<div class="all-waves-footer">
    <div class="wave w1"></div>
</div>

<div class="container-footer-v">
    <div class="box-footer-v">
        <div class="logo-footer">
            <img src="/images/logo-dh.png" alt="Logo DH">
            <p class="text-footer-nv">Todos los derechos reservados © 2022 | Relojes DH  </p>
        </div>
    </div>

    <ul class="box-footer-v">
        <li class="text-footer-nv">Colecciones</li>
        <li><a href="#">Center Pompidou</a>
        <li><a href="#">Jaquet Droze</a>
        <li><a href="#">Tinker</a>
        <li><a href="#">Colors of Nature</a>
    </ul>
    <ul class="box-footer-v">
        <li class="text-footer-nv">Aviso legal</li>
        <li><a href="#">Terminos de uso</a></li>
        <li><a href="#">Aviso de privacidad</a></li>
        <li><a href="#">Cookies</a></li>
    </ul>
    <ul class="box-footer-v">
        <li class="text-footer-nv">Soporte</li>
        <li><a href="#">Servicio tecnico</a></li>
        <li><a href="#">Certificaciones</a></li>
        <li><a href="#">Solicitar Catalogo</a></li>
    </ul>
    <ul class="box-footer-v">
        <li class="text-footer-nv">Tiendas oficiales</li>
        <li><a href="#">DH Abasto</a></li>
        <li><a href="#">DH Unicenter</a></li>
        <li><a href="#">Dh Dot</a></li>
    </ul>
    
    <!-- <div class="separador"></div> -->
    <div class="box-footer-v" id="compartirFooter">
       
        <li class="text-footer-nv">Redes sociales</li>
        <div class="iconos-footer-nv">
            <a href="#"><i class="fa-brands fa-twitter" id="twitter-nv"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f" id="facebook-nv"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest-p" id="pinterest-nv"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" id="instagram-nv"></i></a>
        </div>
    </div>
</div>

</footer>