<footer class="footerv">
   
    <!-- NUEVO FOOTER NUEVO FOOTER  -->
<div class="waveFooter"></div>
<div class="wave w1"></div>
<div class="wave w2"></div>

<div class="contenedorFooter">
    <div class="boxFooter">
        <div class="logoFooter">
            <img src="/images/logo-dh-blanco.png" alt="Logo DH">
        </div>
        <div class="terminosFooter">
            <p>LUXURY WATCHES</p>
        </div>
    </div>
    <div class="boxFooter">
        <h4 class="footer-title">COLECCIONES</h4>
        <a href="#">Center Pompidou</a>
        <a href="#">Jaquer Droze</a>
        <a href="#">Tinker</a>
    </div>
    <div class="boxFooter">
        <h4 class="footer-title">AVISO LEGAL</h4>
        <a href="#">Terminos de uso</a>
        <a href="#">Aviso de privacidad</a>
        <a href="#">Cookies</a>
    </div>
    <div class="boxFooter">
        <h4 class="footer-title">SOPORTE</h4>
        <a href="#">Servicio tecnico</a>
        <a href="#">Certificaciones</a>
        <a href="#">Solicitar Catalogo</a>
    </div>
    <div class="boxFooter">
        <h4 class="footer-title">TIENDAS OFICIALES</h4>
        <a href="#">DH Abasto</a>
        <a href="#">DH Unicenter</a>
        <a href="#">Dh Dot</a>
    </div>
    
    <!-- <div class="separador"></div> -->
    <div class="boxFooter" id="compartirFooter">
       
        <h4 class="footer-title">COMPARTIR ESTA PAGINA</h4>
        <div class="iconosFooter">
            <a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f" id="facebook"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest-p" id="pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" id="instagram"></i></a>
        </div>
  
    </div>

  
</div>
    <div class="copyRightFooter">
        <hr>
        <p>Todos los derechos reservados © 2022 | Relojes DH  </p>
    </div>
        
</footer>