<footer>
   

    <div class="waveFooter"></div>
<div class="wave w1"></div>
<div class="wave w2"></div>

<div class="contenedorFooter">
    <div class="boxFooter">
        <div class="logoFooter">
            <img src="../img/logo-dh.png" alt="Logo DH">
        </div>
        <div class="terminosFooter">
            <p>LUXURY WATCHES</p>
        </div>
    </div>
    <div class="boxFooter">
        <h4>COLECCIONES</h4>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
    </div>
    <div class="boxFooter">
        <h4>AVISO LEGAL</h4>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
    </div>
    <div class="boxFooter">
        <h4>SOPORTE</h4>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
    </div>
    <div class="boxFooter">
        <h4>TIENDAS OFICIALES</h4>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
        <a href="#">lorem</a>
    </div>
    
    <!-- <div class="separador"></div> -->
    <div class="boxFooter" id="compartirFooter">
       
        <h4>COMPARTIR ESTA PAGINA</h4>
        <div class="iconosFooter">
            <a href="#"><i class="fa-brands fa-twitter" id="twitter"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f" id="facebook"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest-p" id="pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-instagram" id="instagram"></i></a>
        </div>
  
    </div>

  
</div>
    <div class="copyRightFooter">
        <hr>
        <p>Todos los derechos reservados © 2022 | Relojes DH  </p>
    </div>

   
        
</footer>