<header>
    <div id="contenedorHeader">
        <nav id="navBarHome">
                <i class="fa-solid fa-equals" id="menuBurger"></i>
                <i class="fa-solid fa-clock" id="logo"></i>
                <i class="fa-solid fa-magnifying-glass" id="buscar"></i>
                <a href="/registro"><i class="fa-solid fa-user" id="ingreso"></i></a>
                <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
        </nav>
        <div class="logo-back"><img src="/img/DHlogo.png" alt="logo-dh" class="logo-register"></div>
        <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
    </div>
</header>