<body id="nopad">
<header class="primary-header flex">

    <div>
        <a href="/">
            <img src="../images/logo-reloj.png" alt="" class="logoHeader">
        </a>
    </div>

    <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">Manu</span><i class="fa-solid fa-bars"></i></button>

    <nav class="nonepls">
        <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
                
        <% if (locals.isLogged) { %>
            <li><a href="/users/profile"><%= locals.userLogged.name %><img src="/images/users/<%= locals.userLogged.image %>" alt="" width="20px" height="20px" class="imgUserNav"></a></li>
        <% } else { %>
            <li><a href="/users/login"><i class="fa-solid fa-user"></i> <span class="header-info">Acceso</span> </li></a>
        <% } %>
        <li><a href="/products/cart"><i class="fa-solid fa-bag-shopping"></i> <span class="header-info">Carrito</span> </li></a>
        </ul>
    </nav>

    <script src="/js/navbar.js"></script>
</header>
</body>