<header class="headerHome">
    <div id="contenedorHeader">
        <nav id="navBarHome">
            <div id="divBurger">
                <i class="fa-solid fa-equals" id="menuBurger"></i>
                <!-- <img src="img/DHlogo.png" alt="" class="dhLogo"> -->
                
            </div>
            <div id="divLogo">
                <i class="fa-solid fa-clock" id="logo"></i>
                <!-- <img src="img/logoDH.png" alt="" width="30px" height="30px" class="logoDH"> -->
            </div>
                <div id="divBuscar">
                    <!-- <span>                             -->
                        <span class="navClasicos">CLASICOS</span>
                        <span class="navProfesionales">PROFESIONALES</span>
                        <i class="fa-solid fa-magnifying-glass" id="buscar"></i>                           
                    <!-- </span> -->
                </div>
                <div id="divIngresar">
                    <span>
                        <input type="text" value="   Busque su reloj " class="inputNavBar">
                    </span>
                    <span>
                        <i class="fa-solid fa-magnifying-glass" id="buscar2"></i>
                    </span>
                    <span class="navBarra"> | </span>
                    <span class="spanIngreso">
                        <a href="/login"><i class="fa-solid fa-user" id="ingreso"></i></a>
                    </span>
                </div>
        </nav>
        <video src="video/home.mp4" loop autoplay muted id="video"></video>
    </div>
</header>