<header>

    <div class="headerSinVideo">

        <nav class="navSV">
            
            <a href="/">
            <img src="../images/logo-dh-blanco.png" alt="" class="logoHeader">
            </a>

            <ul class="linksNav2">
                <li>
                    <form action="#" method="GET">
                        <input type="text" name="" id="" placeholder="Buscar un producto">
                        <button type="submit" class="buscarHome"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
                <li><a href="/users/login"> Acceso <i class="fa-solid fa-user"></i></li></a>
                <li><a href="/users/registro"> Registro <i class="fa-solid fa-user"></i></li></a>
                <li><a href="/products/cart"> <i class="fa-solid fa-bag-shopping"></i></li></a>
            </ul>
        </nav>
    </div>

</header>