<header>
    <div class="container-header">

    <div class="primary-header flex">

        <div>
            <a href="/">
                <img src="../images/logo-dh-blanco.png" alt="" class="logoHeader">
            </a>
        </div>

        <nav class="nonepls">
            <ul id="primary-navigation2" data-visible="false" class="primary-navigation2 flex">
                <li><a href="/products/emptyCart"><i class="fa-solid fa-bag-shopping"> </i> <span class="header-info2">Carrito </span> </li></a>
                <% if (locals.isLogged) { %>
                    <li><a href="/users/profile"><%= locals.userLogged.name %><img src="/images/users/<%= locals.userLogged.image %>" alt="" width="20px" height="20px" class="imgUserNav"></a></li>
                <% } else { %>
                    <li><a href="/users/login"><i class="fa-solid fa-user"> </i> <span class="header-info2">  Acceso </span> </li></a>
                <% } %>
            </ul>
        </nav>
    </div>


    <video autoplay loop class="video-header" muted plays-inline>
        <source src="../video/home.mp4" type="video/mp4">
    </video>


    </div>

</header>