<header>

    <div class="headerVideo">

        <video autoplay loop class="videoHeader" muted plays-inline>
            <source src="../video/home.mp4" type="video/mp4">
        </video>

        <nav>
            <img src="../images/logo-dh-blanco.png" alt="" class="logoHeader">

            <ul class="linksNav">
                <li>
                    <form action="#" method="GET">
                        <input type="text" name="" id="" placeholder="Buscar un producto">
                        <button type="submit" class="buscarHome"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
                <% if (locals.isLogged) { %>
                <li><a href="/users/profile"><%= locals.userLogged.name %><img src="/images/users/<%= locals.userLogged.image %>" alt="" width="16px" height="16px" class="imgUserNav"></a></li>
                <% } else { %>
                <li><a href="/users/login"> Acceso <i class="fa-solid fa-user"></i></a></li>
                <% } %>
                <li><a href="/products/cart"> Carrito <i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </nav>
    </div>

</header>