<header>

    <div class="headerVideo">
        <nav>
            <img src="../images/logo-dh.png" alt="" class="logoHeader">

            <ul class="linksNav">
                <li><a href="#"> Buscador</li></a>
                <li><a href="#"> Acceso</li></a>
                <li><a href="#"> Carrito</li></a>
            </ul>
        </nav>
    </div>

</header>