<header>

    <div class="headerVideo">

        <video autoplay loop class="videoHeader" muted plays-inline>
            <source src="../video/home.mp4" type="video/mp4">
        </video>
        
        <nav>
            <img src="../images/logo-dh.png" alt="" class="logoHeader">

            <ul class="linksNav">
                <li><a href="#"> Buscador</li></a>
                <li><a href="#"> Acceso</li></a>
                <li><a href="#"> Carrito</li></a>
            </ul>
        </nav>
    </div>

</header>