<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/headerV.ejs') %>
            <main>
                <div class="tituloFlex">
                    <h2 class="tituloHome">Con sus últimas creaciones, DH insufla aires de optimismo e innovación al
                        mundo de la relojeria.</h2>
                </div>
                <div class="parrafoFlex">
                    <p class="parrafo1">DH proporciona una amplia selección de relojes para adaptarse a cualquier
                        muñeca. Descubra la gran selección de relojes DH: una perfecta commbinación de estilo y
                        funcionalidad.</p>
                </div>

                <!-- GRID DE IMAGENES CAROUSEL DE IMAGENES      -->
                <!-- GRID DE IMAGENES CAROUSEL DE IMAGENES      -->


                <div class="contenedorHome">
                    <figure>
                        <img src="/img/dayDateHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Day Date</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/dateJustHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Date Just</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/ladyDateJustHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Lady Date Just</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/oysterHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Oyster</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/skyDwellerHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Sky Dweller</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/celliniHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Cellini</h3>
                            <button><a href="#">VER MAS</a></button>
                        </div>
                    </figure>
                </div>



            </main>
            <%- include('./partials/footer.ejs') %>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    </body>

    </html>