<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH RELOJES</title>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Old+Standard+TT&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>

    <header class="headerHome">
        <div id="contenedorHeader">
            <nav id="navBarHome">
                <div id="divBurger">
                    <i class="fa-solid fa-equals" id="menuBurger"></i>
                    <!-- <img src="img/DHlogo.png" alt="" class="dhLogo"> -->
                </div>
                <div id="divLogo">
                    <i class="fa-solid fa-clock" id="logo"></i>
                    <!-- <img src="img/logoDH.png" alt="" width="30px" height="30px" class="logoDH"> -->
                </div>
                    <div id="divBuscar">
                        <!-- <span>                             -->
                            <span class="navClasicos">CLASICOS</span>
                            <span class="navProfesionales">PROFESIONALES</span>
                            <i class="fa-solid fa-magnifying-glass" id="buscar"></i>                           
                        <!-- </span> -->
                    </div>
                    <div id="divIngresar">
                        <span>
                            <input type="text" value="   Busque su reloj " class="inputNavBar">
                        </span>
                        <span>
                            <i class="fa-solid fa-magnifying-glass" id="buscar2"></i>
                        </span>
                        <span class="navBarra"> | </span>
                        <span>
                            <i class="fa-solid fa-user" id="ingreso"></i>
                        </span>
                    </div>
            </nav>
            <video src="video/home.mp4" loop autoplay muted id="video"></video>
        </div>
    </header>
    
    <main>
        <div class="tituloFlex">
            <h2 class="tituloHome">Con sus últimas creaciones, DH insufla aires de optimismo e innovación al mundo de la relojeria.</h2>
        </div>
        <div class="parrafoFlex">
            <p class="parrafo1">DH proporciona una amplia selección de relojes para adaptarse a cualquier muñeca. Descubra la gran selección de relojes DH: una perfecta commbinación de estilo y funcionalidad.</p>
        </div>
        
        
        <h4 class="tituloHome">RELOJES CLASICOS</h4>
        <div class="imgFlex">    
            <img src="img/clasico1.jpg" alt="RELOJES CLASICOS" id="clasicoHome">
        </div>

        <h4 class="tituloHome">RELOJES PROFESIONALES</h4>
        <div class="imgFlex">
            <img src="img/profesional1.jpg" alt="RELOJES PROFESIONALES" id="profesionalHome">
        </div> 
      

        <h2 class="tituloHome">DH proporciona una amplia gama de modelos, incluyendo relojes profesionales y clasicos, para adaptarse a cualquier muñeca.</h2>
        <p class="parrafo1">Explore la colección DH seleccionando sus modelos, materiales, biseles, esferas y brazaletes favoritos para encontrar el reloj perfecto para usted.</p>

        <div class="relHyM">
            <img src="img/hombresHome.jpg" alt="RELOJES HOMBRE" class="hombreYMujer">
            <img src="img/mujerHome.jpg" alt="RELOJES MUJER" class="hombreYMujer">
        </div>

        <div class="divSeparador">
            <div class="separadores"></div>
            
            <div class="divHYM">
                <span class="spanH">RELOJES HOMBRES</span>
            </div>

            <div class="divHYM">
                <span class="spanM">RELOJES MUJERES</span>
            </div>

            <div class="separadores"></div>
        </div>
        
        <div class="iconos">
        <h4 class="tituloCompartir">COMPARTIR ESTA PAGINA</h4>
            <i class="fa-brands fa-twitter" id="twitter"></i>
            <i class="fa-brands fa-facebook-f" id="facebook"></i>
            <i class="fa-brands fa-pinterest-p" id="pinterest"></i>
            <i class="fa-brands fa-instagram" id="instagram"></i>
        
        <div class="compartirHome">
            <div class="tituloCompartir">
                <h4 class="tituloHome">COMPARTIR ESTA PAGINA</h4>
            </div>
            <div class="iconosHome">
                <div class="separadorIconos"></div>
                <i class="fa-brands fa-twitter" id="twitter"></i>
                <i class="fa-brands fa-facebook-f" id="facebook"></i>
                <i class="fa-brands fa-pinterest-p" id="pinterest"></i>
                <i class="fa-brands fa-instagram" id="instagram"></i>
                <div class="separadorIconos"></div>
            </div>    
        </div>


    </main>
    <footer>

        <h4 class="tituloFooter">RELOJES DH</h4>
        <hr>
        
        <ul>
            <li type="none">Clasicos</li>
            <li type="none">Profesionales</li>
        </ul>

        <h4 class="tituloFooter">SERVICIOS</h4>
        <hr>
        
        <ul>
            <li type="none">Comprar un DH</li>
            <li type="none">Buscar un distribuidor</li>
            <li type="none">Mantenimiento y cuidado del reloj</li>
            <li type="none">Mantenimiento y cuidado del reloj</li>
        </ul>
        
        <h4 class="tituloFooter">COLECCION</h4>
        <hr>
        
        <div class="coleccionFooter">
            <ul>
                <li type="none">Air-King</li>
                <li type="none">Day-Just</li>
                <li type="none">GMT-Master II</li>
                <li type="none">Oyster Perpetual</li>
                <li type="none">Sky-Dweller</li>
                <li type="none">Yacht-Master</li>
                <li type="none">Cosmograph</li>
            </ul>
       
        
            <ul>
                <li type="none">Daytona</li>
                <li type="none">Lady-Datejust</li>
                <li type="none">Explorer</li>
                <li type="none">Milgauss</li>
                <li type="none">Sea-Dweller</li>
                <li type="none">Submariner</li>
                <li type="none">Cellini</li>
            </ul>
        </div>

        <h4 class="tituloFooter">AVISO LEGAL</h4>
        <hr>
        
        <ul>
            <li type="none">Términos de uso</li>
            <li type="none">Aviso de privacidad</li>
            <li type="none">Cookies</li>
        </ul>
        
        <h4 class="tituloFooter">SOPORTE</h4>
        <hr>
        
        <ul>
            <li type="none">Guía del usuario</li>
            <li type="none">Contacto</li>
        </ul>
    </footer>

</body>
</html>