<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/headerV.ejs') %>
            <main>

                <section>
            
                    <div class="primeraParteHome">
                        <div class="contenedorHome2">
                            <div class="divCaja-1"></div>
                            <div class="divCaja-2"></div>
                        </div>
                        <hr class="primeraParteH3">
                        <div class="contenedorHome2-1">
                            <h1 class="primeraParteH1">Iluminacion de tritio</h1>
                            <p class="primeraParteParrafo">A menudo pasada por alto pero siempre muy valorada, la capacidad de decir la hora con facilidad en la oscuridad es la razón por la que todos y cada uno de los relojes DH están equipados con iluminación de tritio, ampliamente considerada como la mejor y más confiable forma de iluminación del mundo.</p>
                        </div>
                    </div>
        
                </section>


                <div class="tituloFlex">
                    <h2 class="tituloHome">Con sus últimas creaciones, DH insufla aires de optimismo e innovación al
                        mundo de la relojeria.</h2>
                </div>
                <div class="parrafoFlex">
                    <p class="parrafo1">DH proporciona una amplia selección de relojes para adaptarse a cualquier
                        muñeca. Descubra la gran selección de relojes DH: una perfecta commbinación de estilo y
                        funcionalidad.</p>
                </div>

                <!-- GRID DE IMAGENES CAROUSEL DE IMAGENES      -->
                <!-- GRID DE IMAGENES CAROUSEL DE IMAGENES      -->


                <div class="contenedorHome">
                    <figure>
                        <img src="/img/dayDateHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Day Date</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/dateJustHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Date Just</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/ladyDateJustHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Lady Date Just</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/oysterHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Oyster</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/skyDwellerHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Sky Dweller</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>

                    <figure>
                        <img src="/img/celliniHome.jpeg" alt="">
                        <div class="cardHome">
                            <h3>Cellini</h3>
                            <button><a href="/products">VER MAS</a></button>
                        </div>
                    </figure>
                </div>



            </main>
            <%- include('./partials/footer.ejs') %>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    </body>

    </html>