<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH RELOJES</title>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Old+Standard+TT&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header>
        <div id="contenedorHeader">
            <nav id="navBarHome">
                    <i class="fa-solid fa-equals" id="menuBurger"></i>
                    <i class="fa-solid fa-clock" id="logo"></i>
                    <i class="fa-solid fa-magnifying-glass" id="buscar"></i>
                    <i class="fa-solid fa-user" id="ingreso"></i>
                    <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
            </nav>
            <video src="video/home.mp4" loop autoplay muted id="video"></video>
        </div>
    </header>
    
    <main>
        
        <h2 class="tituloHome">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eligendi inventore magni ad labore in odio iste perferendis illum aut laudantium vitae asperiores, aliquam earum culpa veritatis expedita totam perspiciatis?
        Tenetur corporis deleniti eius obcaecati sequi magni nesciunt, dolore, exercitationem odio quasi at molestiae modi, eos provident voluptates aut cumque non? Deleniti, veniam quae aliquid incidunt consequatur magnam dolore voluptatum.
        Officiis enim totam sequi animi vitae ipsam expedita ut perferendis labore dignissimos molestias a nobis illum, possimus alias voluptates delectus. Et a perferendis repellendus cumque hic, aliquid voluptas pariatur dolore.</p>

        <h4 class="relojesClasicos">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <img src="" alt="RELOJES CLASICOS">
        
        <h4 class="relojesProfesionales">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <img src="" alt="RELOJES PROFESIONALES">
        
        <h4 class="relojesInformales">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
        <img src="" alt="RELOJES INFORMALES">

        <h2 class="tituloHome">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p class="parrafo1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eligendi inventore magni ad labore in odio iste perferendis illum aut laudantium vitae asperiores, aliquam earum culpa veritatis expedita totam perspiciatis?
        Tenetur corporis deleniti eius obcaecati sequi magni nesciunt, dolore, exercitationem odio quasi at molestiae modi, eos provident voluptates aut cumque non? Deleniti, veniam quae aliquid incidunt consequatur magnam dolore voluptatum.
        Officiis enim totam sequi animi vitae ipsam expedita ut perferendis labore dignissimos molestias a nobis illum, possimus alias voluptates delectus. Et a perferendis repellendus cumque hic, aliquid voluptas pariatur dolore.</p>

        <div class="relHyM">
            <img src="" alt="RELJOES HOMBRE">
            <img src="" alt="RELJOES MUJER">
        </div>
        
        <div class="iconos">
        <h4 class="tituloCompartir">COMPARTIR ESTA PAGINA</h4>
            <i class="fa-brands fa-twitter" id="twitter"></i>
            <i class="fa-brands fa-facebook-f" id="facebook"></i>
            <i class="fa-brands fa-pinterest-p" id="pinterest"></i>
            <i class="fa-brands fa-instagram" id="instagram"></i>
        
        </div>
    </main>
    <footer>
        <h4 class="tituloFooter">RELOJES DH</h4>
        <ul>
            <li type="none">asd</li>
            <li type="none">asd</li>
            <li type="none">asd</li>
        </ul>
        <hr>
        <h4 class="tituloFooter">SERVICIOS</h4>
        <ul>
            <li type="none">asd</li>
            <li type="none">asd</li>
            <li type="none">asd</li>
        </ul>
        <hr>
        <h4 class="tituloFooter">COLECCION</h4>
        <ul>
            <li type="none">asd</li>
            <li type="none">asd</li>
            <li type="none">asd</li>
        </ul>
    </footer>
</body>
</html>