<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/headerV.ejs') %>
            <main>
                <div class="contenedor-all-home">
                <section class="sectionHome">
            
                    <div class="primeraParteHome">
                        <div class="contenedorHome2">
                            <div class="divCaja-1"></div>
                            <div class="divCaja-2"></div>
                        </div>
                        <hr class="primeraParteH3">
                        <div class="contenedorHome2-1">
                            <h1 class="primeraParteH1">Iluminacion de tritio</h1>
                            <p class="primeraParteParrafo">A menudo pasada por alto pero siempre muy valorada, la capacidad de decir la hora con facilidad en la oscuridad es la razón por la que todos y cada uno de los relojes DH están equipados con iluminación de tritio, ampliamente considerada como la mejor y más confiable forma de iluminación del mundo.</p>
                        </div>
                    </div>
        
                </section>

                <section class="section2Home">
                    
                    <div class="div3">
               
                        <div class="divTextos3">
                            <div class="divTexto"><h1>De nuestras manos directamente a las tuyas</h1></div>
                            <div class="divParrafo"><p>La venta de nuestros relojes exclusivamente a través de nuestro sitio web nos permite ofrecer un servicio verdaderamente personal y nos permite adaptar nuestros relojes para satisfacer las necesidades de nuestra comunidad en todo el mundo.</p></div>
                        </div>

                        <div class="divImg3-1">
                            <div class="imgReloj3"><img src="/img/home/imgHome6.jpg" alt=""></div>                      
                        </div>
                        <div class="divImg3-2">
                            <div class="imgFondo3"><img src="/img/home/imgHome7.jpg" alt=""></div>
                        </div>
                      
                    </div>

                </section>

                <section>
                    <div class="background">
                        <img src="/img/home/SwatchPompidouStoreLocator.jpg" alt="">
                    </div>
                </section>

                <section class="latestColec">
                    <div class="titulos-lastcolec">
                        <h1 class="tituloSection2">Latest Colection</h1>
                        <!-- <h4 class="parrafoSection2">Echa un vistazo a nuestra ultima coleccion <i>Center Pompidou</i>, inspirada en las mas reconocidas obras de arte.</h4> -->
                    </div>

                    <div class="about-info">
                        <h2>About</h2>
                        <div>
                            <h4 class="texto-info">Es hora de ser creativo. Nuestra nueva colección de relojes nos lleva al centro artístico y cultural de París, - The Centre Pompidou, donde volvemos a visitar las obras maestras con un estilo exclusivo.</h4>
                            <h4 class="texto-info">Desde el gráfico Mondrian y el soñador Kandinsky, hasta el dinámico Delaunay. Elige tu favorito entre los maestros del arte moderno.</h4>
                        </div>
                    </div>

                    <div class="banner">
                        <img src="/img/home/banner_pompidou_combo_desktop_1440x400_test.png" alt="">
                    </div>
                </section>

                <section class="slides">
                    <div class="swiper mySwiper contenedorHome3">
                        
                        <div class=" swiper-wrapper contenido3">
                            
                            <div class=" swiper-slide card3">
                                <div class="contenido-card3">
                                    
                                    <div class="cardImg3">
                                        <a href="/products/13"><img src="/img/home/color.jpg" alt=""></a>
                                    </div>
        
                                    <div class="cardDatosHome">
                                        <span class="cardNombre">Carousel</span>
                                    
                                    </div>

                                </div>
                            </div>
                        
                        </div>
        
                        <div class=" swiper-wrapper contenido3">
        
                            <div class=" swiper-slide card3">
                                <div class="contenido-card3">
                                    
                                    <div class="cardImg3">
                                        <a href="/products/14"><img src="/img/home/eiffel.jpg" alt=""></a>
                                    </div>
        
                                    <div class="cardDatosHome">
                                        <span class="cardNombre">Eiffel Tower</span>
                                        <!-- <span class="cardDescrpcion">Day Date</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class=" swiper-wrapper contenido3">
        
                            <div class=" swiper-slide card3">
                                <div class="contenido-card3">
                                    
                                    <div class="cardImg3">
                                        <a href="/products/11"><img src="/img/home/byn2.jpg" alt=""></a>
                                    </div>
        
                                    <div class="cardDatosHome">
                                        <span class="cardNombre">Black & White</span>
                                        <!-- <span class="cardDescrpcion">Day Date</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class=" swiper-wrapper contenido3">
        
                            <div class=" swiper-slide card3">
                                <div class="contenido-card3">
                                    
                                    <div class="cardImg3">
                                        <a href="/products/12"><img src="/img/home/bluesky.jpg" alt=""></a>
                                    </div>
        
                                    <div class="cardDatosHome">
                                        <span class="cardNombre">Blue Sky</span>
                                        <!-- <span class="cardDescrpcion">Day Date</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class=" swiper-wrapper contenido3">
        
                            <div class=" swiper-slide card3">
                                <div class="contenido-card3">
                                    
                                    <div class="cardImg3">
                                        <a href="/products/9"><img src="/img/home/frida.jpg" alt=""></a>
                                    </div>
        
                                    <div class="cardDatosHome">
                                        <span class="cardNombre">Frida</span>
                                        <!-- <span class="cardDescrpcion">Day Date</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div> -->
                       </div>
        
                </section> 

                <br><br>

                <section class="card-all">
                    <div class="background-cell">
                        <img src="/img/home/ola2.png" alt="">
                    </div>

                    <div class="background-lap">
                        <img src="/img/home/ola.png" alt="">
                    </div>

                    <div class="container-shop">
                        <div class="box-shop">
                            <h3 class="title-all">Cristal de safiro</h3>
                            <p class="text-all">Conocido por su notable dureza (casi tan dura como los diamantes) y resistencia a los arañazos. También lo utiliza cierta empresa de frutas en algunos de sus miniordenadores de muñeca.</p>
                        </div>

                        <div class="box-shop">
                            <h3 class="title-all">Movimiento Swiss Ronda</h3>
                            <p class="text-all">Impulsado por la vibración de un cristal de cuarzo (32.786 veces por segundo) bajo corriente para mantener un tiempo increíblemente preciso</p>
                        </div>

                        <div class="box-shop">
                            <h3 class="title-all">Acero Inoxidable 316L</h3>
                            <p class="text-all">Nuestros estuches están fabricados con un acero de carbono extra bajo que se usa a menudo en instrumentos quirúrgicos y aplicaciones marinas debido a su alta resistencia a la corrosión.</p>
                        </div>

                        <div class="box-shop">
                            <h3 class="title-all">Correas de cuero italiano</h3>
                            <p class="text-all">Hecho de cuero italiano de curtido vegetal de alta calidad con un suave forro de nubuck para mayor comodidad.</p>
                        </div>
                    </div>

                    <div class="btn-shop">
                        <a href="/products"><input type='button'class="shop-all-btn" value="Ver todos los productos"></a>    
                    </div>
                    <br>
                </section>
                

                <!-- <section>
                    <div class="asd">
                        <img class="product-img" src="/img/home/byn.jpg" alt="">
                        <img class="product-img" src="/img/home/byn2.jpg" alt="">
                    </div>
            
                </section>

                <section>
                    <h1 class="newcolection">NEW COLECTION</h1>
                    <img class="background" src="/img/home/single_card_variation_1_pompidou_packaging_903x387_20220303.gif" alt="">
                    <img class="background" src="/img/home/SwatchPompidouStoreLocator.jpg" alt="">
                </section> -->

            </div>
            </main>
            <%- include('./partials/footerV.ejs') %>

    </body>
</html>