<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH RELOJES</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0344a0bdce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="contenedorHeader">
            <nav id="navBarHome">
                    <i class="fa-solid fa-equals" id="menuBurger"></i>
                    <i class="fa-solid fa-clock" id="logo"></i>
                    <i class="fa-solid fa-magnifying-glass" id="buscar"></i>
                    <i class="fa-solid fa-user" id="ingreso"></i>
                    <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
            </nav>
            <video src="video/home.mp4" loop autoplay muted id="video"></video>
        </div>
    </header>
    <main>
        <div> Username </div>
        <div> <input type="text" class="inputBusqueda" placeholder="username"> </div>
        <div> Password </div>
        <div> <input type="text" class="inputBusqueda" placeholder="password"> </div>
        <div>
            Recordarme 
            <i class="fa-solid fa-square-check"></i>
        </div>
        <div> Iniciar sesión </div>
        <div> ¿No tenes cuenta? Registrate </div>
        <div> ¿Olvidó su password? </divZ>
    </main>
    <footer></footer>
</body>
</html>