<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>

    <%- include('./partials/header.ejs') %>
    <main>

        <div class="errorContainer">
            
            <div class="divError1">
                <img src="/images/Error404/robot1.jpg" alt="">
            </div>
            
            <div class="divError2">

                <div class="errorTitulos">
                    <h2 class="errorTitulo"> uuups!</h2>
                    <h4 class="errorSubtitulo">No pudimos encontrar la pagina</h4>
                </div>

                <div class="errorBotones">

                    <a href="/"><button class="btnError"> Home </button></a>
                    <a href="/products"><button class="btnError"> Productos </button></a>

                </div>
            </div>
        </div>


    </main>


</body>
</html>