<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body-cart">
    <header>
        <div id="contenedorHeader">
            <nav id="navBarHome">
                    <i class="fa-solid fa-equals" id="menuBurger"></i>
                    <i class="fa-solid fa-clock" id="logo"></i>
                    <i class="fa-solid fa-magnifying-glass" id="buscar"></i>
                    <i class="fa-solid fa-user" id="ingreso"></i>
                    <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
            </nav>
        </div>
    </header> 

    <main>
        <h1 class="title-cart">Carrito</h1>
        
        <hr>

        <div class="cart">
            <div class="cart-products">

                <article class="product">

                    <img class="img" src="images/product-reloj-verde.PNG" alt="reloj-negro">

                    <div class="product-info">
                        <p class="product-desc"> <strong>38mm Gold / Green Strap</strong> </p>
                        <p class="price-text">Precio:</p>
                        <p class="price">$####</p>

                        <div>
                            <label class="quantity-text" for="cantidad">Cantidad:</label>
                            <br>
                            <select width="10%" class="quantity" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <p class="product-remove">
                        <i class="fa-solid fa-xmark"></i>
                        <span class="remove">Eliminar</span>
                    </p>
                </article>


                <article class="product">
                    <img class="img" src="images/product-reloj-fondo-negro.PNG" alt="reloj-negro">

                    <div class="product-info">
                        <p class="product-desc"> <strong>38mm Silver / Midnight Limited Edition</strong> </p>
                        <p class="price-text">Precio:</p>
                        <p class="price">$####</p>

                        <div>
                            <label class="quantity-text" for="cantidad">Cantidad:</label>
                            <br>
                            <select class="quantity" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <p class="product-remove">
                        <i class="fa-solid fa-xmark"></i>
                        <span class="remove">Eliminar</span>
                    </p>
                </article>

            </div>
        
            <div class="purchase-summary">
                <div>
                    <input type="text" id="usuario" name="usuario" class="shipping" placeholder="Calcular envío...">
                </div>

                <p class="resume">Resumen</p>

                <ul class="purchase-summary-div">
                    <li class="sub">Subtotal:
                        <span>$###</span>
                    </li>

                    <li class="ship">Envio:
                        <span>$###</span>
                    </li>

                    <li class="total"> <strong>Total:</strong>
                        <span> <strong>$###</strong> </span>
                    </li>
                </ul>

                <hr class="divider">
                <button type="submit" class="send-btn-cart" href="/"> <strong>Finalizar compra</strong>  </button> <br>
                <button type="submit" class="add-btn-cart" href="/">Agregar mas productos</button> <br>
            </div>

            <div class="facturacion">
                <label>Dirección de envío es la misma que la dirección de facturación?</label> 
                <label value="si"><input type="checkbox" name="si"> Si</label>
            </div> <br>

        </div>

        <br>

        <section class="footer-cart">
            <div class="credit-card">
                <i class="fa-solid fa-credit-card"></i>
            </div>   
            
            <ul class="payment-data">
                <li type="none">Ver medios de pago</li>
                <li type="none">Ver promociones bancarias</li>
            </ul>
        </section>
    </main>   


    <footer>
        <h4 class="tituloFooter">RELOJES DH</h4>
        <hr>
        
        <ul>
            <li type="none">Clasicos</li>
            <li type="none">Profesionales</li>
        </ul>

        <h4 class="tituloFooter">SERVICIOS</h4>
        <hr>
        
        <ul>
            <li type="none">Comprar un DH</li>
            <li type="none">Buscar un distribuidor</li>
            <li type="none">Mantenimiento y cuidado del reloj</li>
            <li type="none">Mantenimiento y cuidado del reloj</li>
        </ul>
        
        <h4 class="tituloFooter">COLECCION</h4>
        <hr>
        
        <div class="coleccionFooter">
            <ul>
                <li type="none">Air-King</li>
                <li type="none">Day-Just</li>
                <li type="none">GMT-Master II</li>
                <li type="none">Oyster Perpetual</li>
                <li type="none">Sky-Dweller</li>
                <li type="none">Yacht-Master</li>
                <li type="none">Cosmograph</li>
            </ul>
       
        
            <ul>
                <li type="none">Daytona</li>
                <li type="none">Lady-Datejust</li>
                <li type="none">Explorer</li>
                <li type="none">Milgauss</li>
                <li type="none">Sea-Dweller</li>
                <li type="none">Submariner</li>
                <li type="none">Cellini</li>
            </ul>
        </div>

        <h4 class="tituloFooter">AVISO LEGAL</h4>
        <hr>
        
        <ul>
            <li type="none">Términos de uso</li>
            <li type="none">Aviso de privacidad</li>
            <li type="none">Cookies</li>
        </ul>
        
        <h4 class="tituloFooter">SOPORTE</h4>
        <hr>
        
        <ul>
            <li type="none">Guía del usuario</li>
            <li type="none">Contacto</li>
        </ul>
    </footer>

    </main>   
</body>
</html>