<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH RELOJES</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0344a0bdce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div id="contenedorHeader">
            <nav id="navBarHome">
                    <i class="fa-solid fa-equals" id="menuBurger"></i>
                    <i class="fa-solid fa-clock" id="logo"></i>
                    <i class="fa-solid fa-magnifying-glass" id="buscar"></i>
                    <i class="fa-solid fa-user" id="ingreso"></i>
                    <!-- <video src="video/home.mp4" loop autoplay muted id="video"></video> -->
            </nav>
            <video src="video/home.mp4" loop autoplay muted id="video"></video>
        </div>
    </header>
    <main>
        <h2>Registrarme</h2>
        <form action="/registro" method="POST">
            <div><input type="text" class="inputBusqueda" placeholder="Nombre" name="nombre" id="nombre" required></div>
            <div><input type="text" class="inputBusqueda" placeholder="Apellido" name="apellido" id="apellido" required></div>
            <div><input type="tel" class="inputBusqueda" placeholder="Tel. Fijo" name="tel-fijo" id="tel-fijo"></div>
            <div><input type="tel" class="inputBusqueda" placeholder="Tel. Celular" name="tel-cel" id="tel-cel"></div>
            <div><input type="email" class="inputBusqueda" placeholder="Mail" name="mail" id="mail" required></div>
            <div><input type="email" class="inputBusqueda" placeholder="Confirmar Mail" name="mail-confirm" id="mail-confirm" required></div>
            <div><label>Fecha de Nacimiento:</label>
                <input type="date" name="nacimiento" name="nacimiento" id="nacimiento" required>
            </div>
            <div><input type="number" class="inputBusqueda" placeholder="Documento" name="documento" id="documento" required></div>
            <div><label>Genero:</label>
                <select name="genero" required>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
                </select>
            </div>
            <div><input type="text" class="inputBusqueda" placeholder="Dirección 1" name="direccion1" id="direccion1" required></div>
            <div><input type="text" class="inputBusqueda" placeholder="Dirección 2" name="direccion2" id="direccion2"></div>
            <div><input type="number" class="inputBusqueda" placeholder="Codigo Postal" name="codigopostal" id="codigopostal" required></div>
            <div><input type="password" class="inputBusqueda" placeholder="Contraseña" name="contraseña" id="contraseña" required></div>
            <div><input type="password" class="inputBusqueda" placeholder="Repetir contraseña" name="contraseña-confirm" id="contraseña-confirm" required></div>
            <div><input type="submit" value="Enviar"></div>
        </form>
    </main>
    <footer></footer>
</body>
</html>