<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <div> <input type="text" class="inputBusqueda" placeholder="username"> </div>
        <div> <input type="text" class="inputBusqueda" placeholder="password"> </div>
        <div>
            <label>Recordame</label> 
            <input type="checkbox" name="recordarme" value="recordarme">
        </div>
        <div><input type="submit" value="Iniciar Sesión"></div>
        <div>¿No tenes cuenta?<a href="/registro">Registrate</a></div>
        <div> ¿Olvidó su password? </divZ>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>