body{
    width: 100%;
}
video{
    width: 100%;
    opacity: 1;
    z-index: 1;
}
#navBarHome{
    background-color: antiquewhite;
    opacity: 1;
    z-index: 2;
    padding: 2%;
}
    #menuBurger{
        margin-left: 5%;
    }
    #logo{
        margin-left: 40%;
    }
    #buscar{
        margin-left: 26%;
    } 
    #ingreso{
        margin-left: 4%;
    }

footer{
    background-color: darkslategrey;
    color: aliceblue;
    padding: 5%;
}

.iconos{
    background-color: lightgray;
    padding: 10%;
}