*{
    box-sizing: border-box;
    font-family: 'Open Sans', Sans-Serif;

}

@font-face {
    src: url("../fonts/newyork.otf");
    font-family: 'New york';
}

body{
    width: 100%;
}
html{
    background-color: #ffffff;
}

/* HEADER SIN VIDEO ** HEADER SIN VIDEO
HEADER SIN VIDEO ** HEADER SIN VIDEO */

.headerSinVideo{
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.linksNav2{
    padding: 25px 0px;
}

.linksNav2 li{
    display: inline-block;
    margin: 0px 15px;
}
.linksNav2 li form{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.linksNav2 li input{
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border: none;
}
.linksNav2 li input::placeholder{
   color: #fff;
}

.linksNav2 li form button{
    background-color: transparent;
    border: none;
}
.linksNav2 li form button i{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.linksNav2 li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0px;
    position: relative;
}
.linksNav2 li a i{
    margin: 0px 3px;
}


.linksNav2 li a::after{
    content: '';
    background: #ffff;
    width: 0%;
    height: 2.5px;
    position: absolute;
    bottom: 30px;
    left: 0;
    transition: width 0.5s;
}
.linksNav2 li a:hover::after{
    width: 90%;
}

/* HEADER CON VIDEO ** HEADER CON VIDEO
HEADER CON VIDEO ** HEADER CON VIDEO */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: none;

}

.logoHeader{
    width: 80px;
    margin-left: 0%;
    margin-top: 20px;
}

ul{
    margin-left: 50%;
}
.linksNav{
    padding: 25px 0px;
}

.linksNav li{
    display: inline-block;
    margin: 0px 15px;
}
.linksNav li form{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.linksNav li input{
    background-color: transparent;
    padding: 10px;
    color: #fff;
    border: none;
}
.linksNav li input::placeholder{
   color: #fff;
}

.linksNav li form button{
    background-color: transparent;
    border: none;
}
.linksNav li form button i{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

.linksNav li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0px;
    position: relative;
}
.linksNav li a i{
    margin: 0px 3px;
}


.linksNav li a::after{
    content: '';
    background: #ffff;
    width: 0%;
    height: 2.5px;
    position: absolute;
    bottom: 30px;
    left: 0;
    transition: width 0.5s;
}
.linksNav li a:hover::after{
    width: 90%;
}

.videoHeader{
    position: absolute;
    right: -20%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media(mix-aspect-ratio: 16/9){
    .videoHeader{
        width: 100%;
        height: auto;
    }
}
@media(mix-aspect-ratio: 16/9){
    .videoHeader{
        width: auto;
        height: 100%;
    }
}

/* HOME HOME HOME HOME HOME HOME HOME  */
/* HOME HOME HOME HOME HOME HOME HOME  */

.tituloHome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 40%;
    text-transform: uppercase;
}
 

.parrafoFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding: 50px;
}

.contenedorHome{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.contenedorHome figure{
    position: relative;
    height: 350px;
    width: 320px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0, 0.50);
    cursor: pointer;

}

.contenedorHome figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorHome figure .cardHome{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 41, 49, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorHome figure:hover > .cardHome{
    opacity: 1;
    visibility: visible;
}
.contenedorHome figure:hover > .cardHome h3{
    margin-top: 40%;
}

.contenedorHome figure .cardHome h3{
    color: #fff;
    font-size: 25px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    text-transform: uppercase;
}

.contenedorHome figure .cardHome button{
    color: #fff;
    font-size: 15px;
    /* line-height: 1.5; */
    width: 100%;
    max-width: 220px;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 8px;
}
.contenedorHome figure .cardHome button a{
    color: black;
    text-decoration: none;
    border: none;

}

/* FOOTER FOOTER FOOTER FOOTER FOOTER */
/* FOOTER FOOTER FOOTER FOOTER FOOTER */

footer{
    width: 100%;
    padding: 50px 0px;
    background-color: white;
    margin-top: 10%;
}

.waveFooter{
    width: 300%;
    background-color: black;    
    position: absolute;

}

.wave{
    width: 300%;
    height: 150%;
    padding: 0px 0px;
    position: absolute;
    -webkit-mask-image: url(../img/footer/background-footer.svg);
    mask-image: url(../img/footer/background-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-size: cover;
    animation: w1 7s linear infinite;
    background-color: black
}

.w1{
    animation: w1 7s linear infinite;
    opacity: 0.2;
}


@keyframes w1{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -1600px;
    }
}


.contenedorFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.boxFooter{
    display: flex;
    flex-direction: column;
    padding: 100px;
    position: relative;
    z-index: 1;
}

.boxFooter .logoFooter img{
    width: 130px;
    opacity: 0.8;
}

.boxFooter .terminosFooter{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.boxFooter h4{
    margin-bottom: 30px;
    color: white;
    font-weight: 100;    
    font-size: medium;
}

.boxFooter a{
    margin-top: 10px;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    font-size: small;
}

.boxFooter a:hover{
    opacity: 0.8;
}

.boxFooter a i{
    font-size: 15px;
    margin-top: 20px;
}
.boxFooter a i:hover{
    font-size: 20px;
    
}

#compartirFooter .iconosFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyRightFooter{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    position: relative;
    z-index: 1;
}

.copyRightFooter p{
    margin-top: 20px;
    color: white
}

.copyRightFooter hr{
    border: none;
    height: 1px;
    background-color: white;
}

#twitter, #facebook, #pinterest, #instagram{
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 30px;
}
#twitter:hover, #facebook:hover, #pinterest:hover, #instagram:hover{
    background-color: white;
    color:black;
}


/* PAGINA PRODUCTO ** PAGINA PRODUCTO -- DANI DANI DANI  */
/* PAGINA PRODUCTO ** PAGINA PRODUCTO -- DANI DANI DANI  */

.main-product {
    background-color: #ffffff;
    margin: 0;
}

.section-product {
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

.img-box {
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
    display: flex;
}

.product-img{
    width: 60%;
    margin: 20px;
    padding: 20px;
}

.marcaReloj{
    margin: 20px 0px 20px 20px;
    font-family: 'New york', serif;
    text-align: left;
    font-weight: 500;
    font-size: 35px;
}

.short-desc-product {
    font-family: 'New York', Sans-Serif;
    margin-left: 20px;
    font-size: 20px;
    font-style: bold;
    text-align: left;
}

.desc-product {
    font-family: 'Raleway', Sans-Serif;;
    text-align: left;
    margin: 15px 0px 20px 20px;
}

.talle-cantidad, .cantidad{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;  
    margin-left: 20px;
    font-family: 'Raleway', Sans-Serif;
}

.selectorCantidad, .selectorTalle {
    border: 0;
    font-size: 15px;
    font-family: 'Raleway', Sans-Serif;
}

.precio{
    margin: 30px 0px 10px 20px;
    font-family: 'New York', Sans-Serif;
    font-size: 30px;
    font-weight: 400;
}

.cuotasSinInteres {
    font-family: 'Raleway', Sans-Serif;
    margin-top: 2px;
    margin-bottom: 8px;
}

.product-btn {
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 1px;
    border: 0;
    padding: 1rem;
    width: 90%;
    background-color: #efefef;
    transition: all 400ms;
    color: #363636;
    margin: 20px 0 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
}

.botonDeCompra{
    text-align: center;
} 

.product-btn:hover {
    background-color: #363636;
    transition: all 400ms;
    color: #ffffff;
}

.product-financing {
    color: #363636;
    font-family: 'Raleway', Sans-Serif;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}




/* CARRITO CARRITO CARRITO CARRITO 
CARRITO CARRITO CARRITO CARRITO  */


.body-cart {
    background-color: #fafafa;
    margin: 0;
}

main {
    font-family:'Open Sans', Sans-Serif;
}

.cart{
    display: flex;
	flex-direction: column;

}

.title-cart {
    font-size: 40px;
    letter-spacing: 0.035rem;
    font-weight: 300;
    font-family: 'new york', serif;
    font-weight: 400;
    margin: 20px 20px 10px 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #9b9b9b;
}

.cart-products {
    font-size: 14px;
}

article.product {
    display: flex;
    margin: 10px;
    background-color: #efefef;
    border: 3px solid #efefef;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.price-text, .price, .quantity-text, .quantity, .product-desc {
    margin: 5px;
    font-size: 16px;
}

.quantity {
    margin-top: 10px;
    border: 0;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
}

.img {
    width: 30%;
}

.product-desc {
    font-size: 18px;
}

.purchase-summary{
	margin: 10px;
	padding: 0px 20px 20px 20px;
	border-radius: 5px;
}

.purchase-summary li {
    margin-bottom: 10px;
    font-family: 'Raleway', Sans-Serif;
}

.purchase-summary ul {
    list-style-type: none;
    padding: 0;
}

.purchase-summary a {
    text-decoration: none;
}


.facturacion {
    font-size: 12px;
    margin-left: 14px;
    position: absolute;
    display: none;
}

.send-btn-cart {
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 0.6px;
    border: 0;
    padding: 1rem;
    width: 100%;
    margin-top: 10px;
    background-color: #d3d3d3;
    transition: all 400ms;
    color: #363636;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.add-btn-cart{
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 0.6px;
    border: 0;
    padding: 1rem;
    width: 100%;
    margin-top: 10px;
    background-color: #efefef;
    transition: all 400ms;
    color: #363636;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.product-remove{
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 12px;
}

.product-remove:hover{
	color: #252525;
} 
 
.remove {
    display: none;
}

.shipping, .resume {
    display: none;
}

.ship, .sub {
    color: #252525;
}

hr.divider {
    border-top: 1px solid silver;
}

.footer-cart {
    background-color: lightgrey;
    padding: 20px;
    position: relative;
    bottom: 0px;
}

.credit-card {
    float: left;
    font-size: 34px;
    color: #363636;
    margin-right: 10px;
}

.payment-data {
    margin: 0;
    cursor: pointer;
}

.payment-data li {
    color: #363636;
    padding: 0;
}

/* Guido Registro y Login*/
.title-login {
    font-size: 40px;
    letter-spacing: 0.035rem;
    font-weight: 300;
    font-family: 'new york', serif;
    font-weight: 400;
    margin: 50px 0px 40px 0px;
}

.main-login {
    background-color: #fafafa;
    margin: 0;
}

.section-login {
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

.inputBusqueda-login{
    font-family: 'Raleway', Sans-Serif;
    width: 90%;
    background-color: #fafafa;
    font-size: 15px;
    margin-top: 1.5rem;
    border: 0;
    border-bottom: solid 1px #9b9b9b;
    color: #252525;
    height: 3rem;
}

.send-btn-login {
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 0.6px;
    border: 0;
    padding: 1rem;
    width: 40%;
    background-color: #efefef(52, 131, 250);
    transition: all 400ms;
    color: #363636;
    margin: 40px 0 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.send-btn-login:hover {
    background-color: #363636;
    transition: all 400ms;
    color: #ffffff;
}

.text-login , .text-login-end {
    font-family: 'Raleway', Sans-Serif;
    color: #363636;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.text-login-end {
    margin-bottom: 20rem;
}

.logo-back {
    background-color: #252525;
    display: flex;
    justify-content: center;
}

/* registro */
.register-txt {
    font-size: 40px;
    letter-spacing: 0.035rem;
    font-weight: 300;
    font-family: 'new york', serif;
    font-weight: 400;
    margin: 50px 0px 40px 0px;
}

.main-register {
    margin: 0;
    background-color: #fafafa;
}

.section-register {
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

.center-register {
    background-color: #fafafa;
    text-align: center;
    max-width: 90%;
    margin: auto
}
 
.inputBusqueda-register {
    font-family: 'Raleway', Sans-Serif;
    width: 100%;
    background-color: #fafafa;
    font-size: 15px;
    margin-top: 1.5rem;
    border: 0;
    border-bottom: solid 1px #9b9b9b;
    color: #252525;
    height: 3rem;
}

.inputBusqueda-input {
    width: 100%;
    background-color: #fafafa;
    font-size: 15px;
    margin-top: 1.9rem;
    border-bottom: solid 1px #9b9b9b;
    height: 2.6rem;
    text-align: left;
    font-family: 'Raleway', Sans-Serif;
}

.input-register {
    font-family: 'Raleway', Sans-Serif;
    font-size: 15px;
    border: 0;
    font-size: 15px;
    color: #73777c;
    background-color: #fafafa;
}

.send-btn-register {
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 0.6px;
    border: 0;
    padding: 1rem;
    width: 40%;
    background-color: #efefef;
    transition: all 400ms;
    color: #363636;
    margin: 40px 0 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.send-btn-register:hover {
    background-color: #363636;
    transition: all 400ms;
    color: #ffffff;
}

.logo-register {
    width: 50%;
}


/*Daniel pagina producto*/

.talle-cantidad{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-bottom: 20px;    
}

   .botonDeCompra{
       text-align: center;
   } 

.boton{
    border: 0;
    padding: 15px;
    width: 100%;
    margin-top:  10px;
    margin-bottom: 10px;
    background-color: rgba(67, 112, 112, 0.9);
    color: #fff;
}

/* edit & add */
.product-add-title, .product-edit-title {
    font-size: 40px;
    letter-spacing: 0.035rem;
    font-weight: 300;
    font-family: 'new york', serif;
    font-weight: 400;
    margin: 50px 0px 40px 0px;
    text-align: center;
}

.inputBusqueda-edit,  .inputBusqueda-add {
    font-family: 'Raleway', Sans-Serif;
    width: 80%;
    background-color: #fafafa;
    font-size: 15px;
    margin-top: 1.5rem;
    border: 0;
    border-bottom: solid 1px #9b9b9b;
    color: #252525;
    height: 3rem;
}

.inputBusqueda-edit {
    width: 65%;
}

.botonEditar, .botonEditar-2 {
    font-family: 'Raleway', Sans-Serif;
    line-height: 18px;
    letter-spacing: 1px;
    border: 0;
    width: 10%;
    background-color: #fafafa;
    transition: all 400ms;
    color: #363636;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    
}


.talle-cantidad{
    display: flex;
    padding-right: 30px;
    padding-bottom: 20px;
    align-content: space-around;
    justify-content: center;
    }

.selectorTalle ,
.selectorCantidad{
    font-weight: bold;
    padding: 3px;
}

.selectorCantidad{
    margin-left: 10px;
}

.selectorTalle{
    margin-right: 10px;
}

.reloj{ 
    max-width:  60%;
    height: 30%;
}

.fotoReloj{
    text-align: center;
}

.marcaReloj{
    text-align: center;
}

.infoPrecio{
    text-align: center;
    margin-bottom: 10px;
}

.precio{
    margin: 0px;
}

.cuotasSinInteres{
    margin-top: 2px;
    margin-bottom: 8px;
}
  

.botonEditar-2 {
    width: 40%;
    background-color: #efefef;
    margin: 10px 10px;
    padding: 0.5rem;
}

@media(min-width: 769px){
    
    #clasicoHome, #profesionalHome{
        padding: 30px;
    }
    .relHyM{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .hombreYMujer{
        border-radius: 20px;
        padding: 10px;
        width: 40%;
    }
    .divHYM{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 40%;
        padding: 10px;
    }
    .separadores{
        display: flex;
        width: 10%;
    }

    /* product-detail */
    .product-img {
        width: 40%;
    }   
    
    /* login y registro */
    .inputBusqueda-login, .center-register {
        width: 70%
    }

    /* carrito */
    .product-remove {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .product:hover {
        box-shadow: 0 0 10px rgb(100, 100, 100, 0.5);
        transition: all 450ms;
    }

	.remove{
		display: block;
        margin-left: 5px;
	}

    article.product {
        margin: 20px;
    }

    .purchase-summary {
        margin: 20px;
        height: 390px;
        padding: 20px;
    }

    .send-btn-cart, .add-btn-cart {
        font-size: 16px;
        padding: 9px;
    }

    .send-btn-cart:hover {
        background-color: rgb(35, 58, 58);
        transition: all 450ms;
    }

    .add-btn-cart:hover {
        background-color: rgb(68, 100, 100);
        transition: all 450ms;
    }

	.product-desc, .price-text, .price, .quantity-text, .quantity {
		margin-bottom: 10px;
	}

    .purchase-summary li {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .cart{
		flex-direction: row;
	}

    .container{
		max-width: 95%;
	}

	.purchase-summary {
		margin-left: 0;
		margin-bottom: 20px;
	}

    .shipping, .resume {
        display: block;
    }
    
    .ship {
        display: none;
    }

    .shipping {
        margin-bottom: 10px;
        border: 1px solid silver;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .resume {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .quantity {
        margin-top: 10px;
        border: 0;
        padding: 5px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        background-color: whitesmoke;
    }

    .boton{
        width: auto;
        margin: 10px;
    }

    

}

@media(min-width: 1280px){
    /* .dhLogo{
        width: 120px;
        height: 80px;
        display: inline;
    } */
    #divLogo{
        display: none;
    }
    #divBuscar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #divIngresar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   

    #menuBurger{
        display: none;
    }
    #divIngresar{
        background-color: lightgray;
        border-radius: 10px;
    }
    .inputNavBar{
        display: flex;
        justify-content: flex-start;
        border: none;
        padding: 5px;
        border-radius: 10px;
        background-color: lightgray;
    }
    #buscar{
        display: none;
    }
    #buscar2{
        display: flex;
    }
    #buscar2, #ingreso, .navBarra{
        color: black;
        padding: 5px;
    }
    #buscar2:hover{
        background-color: grey;
        padding: 6px;
        border-radius: 10px;
    }
    
    #ingreso:hover{
        background-color: grey;
        padding: 6px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .navBarra{
        display: block;
    }


    .navClasicos, .navProfesionales{
        display: inline;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
    }
    .navClasicos:hover, .navProfesionales:hover{
        color: lightgray;
    }
    .navClasicos{
        justify-content: flex-start;
    }
    .navProfesionales{
        justify-content: flex-end;
    }
    #clasicoHome, #profesionalHome{
        padding: 40px;
    }
    
    .relHyM{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .hombreYMujer{
        border-radius: 30px;
        padding: 20px;
        width: 35%;
    }
    .divHYM{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        padding: 30px;
    }
    .separadores{
        width: 5%;
    }
    .iconosHome{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around
    }
    .separadorIconos{
        display: flex;
        width: 10%;
    }

    /* product-detail */
    .product-img {
        width: 350px;
    }

    .img-box {
        width: 50%;
        background-color: #ffffff;
        margin: 3rem -4.4rem 0.4rem 0.4rem
    }

    .product-detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    .section-product {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 2rem;
    }

    .desc-product {
        font-size: 14px;
    }

    .talle-cantidad, .cantidad, .cuotasSinInteres {
        font-size: 14px;
    }

    .precio {
        margin: 30px 0px 10px 0px;
    }

    .product-btn {
        width: 40%;
    }
    
    /* login y registro */
    .inputBusqueda-login, .center-register {
        width: 40%
    }

    .center-register {
        width: 40%;
    }

    .register-txt, .title-cart, .login-is {
        font-size: 50px;
    }

    .register-txt, .login-is {
        margin-top: 7rem;
    }    

    /* carrito */

    .shipping {
        width: 100%;
    }

    article.product {
        margin-left: 20px;
    }

    .cart-products {
        width: 70%;
    }

    .img {
        max-width: 330px;
    }

    div.purchase-summary {
        width: 25%;
        height: 380px;
    }

    .send-btn-cart, .add-btn-cart {
        padding: 12px;
    }
}

.price-text, .price, .quantity-text, .quantity {
    margin: 5px;
}

.facturacion {
    font-size: 12px;
}

.purchase-summary{
    margin: 5px;
}
