<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <section class="section-register"></section>
            <h2 class="product-add-title">Agregar Item</h2>
            <form class="center-register" action="/products" method="POST" enctype="multipart/form-data">
                <div><input class="inputBusqueda-add" type="text" placeholder="Nombre del Producto" name="name" id="name"></div>
                <div><input class="inputBusqueda-add" type="text"  placeholder="Descripción del Producto" name="description" id="description"></div>
                <div><input class="inputBusqueda-add" type="number" placeholder="Precio" name="price" id="price" value="price"></div>
                <div><input class="inputBusqueda-add" type="text" placeholder="Categoria" name="category" id="category"></div>
                <div><input class="inputBusqueda-add" type="file" placeholder="image" name="image" id="image"></div>
                <br></br>
                <div><input type="submit" value="Save" class="send-btn-register"></div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>