<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h3 class = "marcaReloj">Reloj Tissot Chrono</h3>
        </div>
        <article>
            <div class = "fotoReloj">
            <img class = "reloj" src="/img/primerReloj.jpg" alt="Foto de Reloj">
            </div>
              
              <p>El nuevo Tissot Chrono XL (1166171104701) es un cronógrafo suizo, con una caja de 45mm, pensado para el hombre urbano de estilo casual que busca una pieza que destaque su outfit. Este modelo presenta un bisel en acero inoxidable con acabado mate y una esfera en color azul eléctrico y blanco. Las agujas de las horas y los minutos también son blancas con detalles en gris, y el segundero es completamente gris. La correa es de acero inoxidable, tiene la posibilidad de acortarse para un ajuste óptimo a la muñeca. Diseño contemporáneo y tecnología suiza, con 2 años de Garantía. Contadores de 30 minutos y de décima de segundo, aguja de cronógrafo central de 60 segundos, funciones Add y Split.</p>
              <div class = "infoPrecio">
                <h3 class = "precio">$ 22.999</h3>
                <p class = "cuotasSinInteres">Hasta en 12 cuotas sin intéres de $1.916,58 </p>
                <a href="planesDeFinanciacion">Ver Planes de Financiacion</a>
             </div>
        </article>
        <div class = "talle-cantidad">
            <select name = "talle" class="selectorTalle">
                <option value = "seleccionTalle">Seleccionar Talle</option>
                <option value = "small">Small</option>
                <option value = "medium">Medium</option>
                <option value = "large">Large</option>
            </select>
        <div class = "cantidad">
            <select name = "cantidad" class = "selectorCantidad">
                <option value = "SeleccionarCantidad">Cantidad</option>
                <option value = "1">1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
            </select>
        </div>
        </div>
        <div class = "botonDeCompra">
        <input class = "boton"type="submit" value = "Comprar">
        </div>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>