<%- include('../partials/head.ejs') %>
<body class="body-cart">
    <%- include('../partials/header.ejs') %>
    <main>
        <h1 class="title-cart">Carrito</h1>
        <div class="cart">
            <div class="cart-products">

                <article class="product">

                    <img class="img" src="../images/product-reloj-verde.PNG" alt="reloj-negro">

                    <div class="product-info">
                        <p class="product-desc"> <strong>38mm Gold / Green Strap</strong> </p>
                        <p class="price-text">Precio:</p>
                        <p class="price">$####</p>

                        <div>
                            <label class="quantity-text" for="cantidad">Cantidad:</label>
                            <br>
                            <select width="10%" class="quantity" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <!-- <p class="product-remove">
                        <i class="fa-solid fa-xmark"></i>
                        <span class="remove">Eliminar</span>
                    </p> -->
                </article>


                <article class="product">
                    <img class="img" src="../images/product-reloj-fondo-negro.PNG" alt="reloj-negro">

                    <div class="product-info">
                        <p class="product-desc"> <strong>38mm Silver / Midnight Limited Edition</strong> </p>
                        <p class="price-text">Precio:</p>
                        <p class="price">$####</p>

                        <div>
                            <label class="quantity-text" for="cantidad">Cantidad:</label>
                            <br>
                            <select class="quantity" name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>

                    <!-- <p class="product-remove">
                        <i class="fa-solid fa-xmark"></i>
                        <span class="remove">Eliminar</span>
                    </p> -->
                </article>

            </div>
        
            <div class="purchase-summary">
                <div>
                    <input type="text" id="usuario" name="usuario" class="shipping" placeholder="Calcular envío...">
                </div>

                <p class="resume">Resumen</p>

                <ul class="purchase-summary-div">
                    <li class="sub">Subtotal:
                        <span>$###</span>
                    </li>

                    <li class="ship">Envio:
                        <span>$###</span>
                    </li>

                    <li class="total"> <strong>Total:</strong>
                        <span> <strong>$###</strong> </span>
                    </li>
                </ul>

                <hr class="divider">
                <button type="submit" class="send-btn-cart" href="/"> <strong>Finalizar compra</strong>  </button> <br>
                <button type="submit" class="add-btn-cart" href="/">Agregar mas productos</button> <br>
            </div>

            <div class="facturacion">
                <label>Dirección de envío es la misma que la dirección de facturación?</label> 
                <label value="si"><input type="checkbox" name="si"> Si</label>
            </div> <br>

        </div>

        <br>

        <section class="footer-cart">
            <div class="credit-card">
                <i class="fa-solid fa-credit-card"></i>
            </div>   
            
            <ul class="payment-data">
                <li type="none">Ver medios de pago</li>
                <li type="none">Ver promociones bancarias</li>
            </ul>
        </section>
    </main>   
    <%- include('../partials/footer.ejs') %>
</body>
</html>