<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-register">
        <h2>Agregar Item</h2>
        <form action="/registro" method="POST">
            <div><input type="text" class="inputBusqueda" placeholder="Codigo del Producto" name="codigoProduco" id="codigoProducto" required></div>
            <div><input type="text" class="inputBusqueda" placeholder="Nombre del Producto" name="nombreProduco" id="nombreProducto" required></div>
            <div><input type="text" class="inputBusqueda" placeholder="Descripción del Producto" name="descripcionProducto" id="descripcionProducto" required></div>
            <div><input type="tel" class="inputBusqueda" placeholder="Precio" name="precio" id="precio"></div>
            <button> 
                <i class="fa-solid fa-folder-plus"> <spam>Add Picture</spam></i>
            </button>
            <br></br>
            <div><input type="submit" value="Save" class="bot-save"></div>

    
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>